<!-- bean definitions here -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--<bean id = "alien" class = "org.example.Alien" scope="prototype"></bean>-->
<!--    <bean id = "alien" class = "org.example.Alien" autowire="byName">-->
    <bean id = "alien" class = "org.example.Alien" autowire="byType">
        <property name = "age" value="29"></property>

        <property name="com">
        <bean class = "org.example.Desktop" lazy-init="true"></bean>
        </property>

<!--        <constructor-arg value="30"/>-->
<!--        <constructor-arg ref="laptopBean"/>-->

<!--        <constructor-arg type = "int" value="30"/>-->
<!--        <constructor-arg type = "Laptop" ref="laptopBean"/>-->

<!--        <constructor-arg index="1" value="30"/>-->
<!--        <constructor-arg index="0" ref="laptopBean"/>-->


<!--        <constructor-arg name="age" value="30"/>-->
<!--        <constructor-arg name="laptop" ref="laptopBean"/>-->


<!--        <property name="com" ref = "laptopBean"/>-->
<!--        <property name="laptop" ref = "laptopBean"/>-->
<!--        <property name="com" ref = "com"/>-->

    </bean>
<!--    <bean id = "com" class = "org.example.Laptop"></bean>-->
<!--    <bean id = "laptopBean" class = "org.example.Laptop" primary="true">-->
<!--    <property name="desk1" ref = "desktopBean"></property>-->
<!--    </bean>-->
<!--    <bean id = "desktopBean" class = "org.example.Desktop" lazy-init="true"></bean>-->
<!--    <bean id="desktopBean" class = "org.example.Desktop" lazy-init="true"></bean>-->
</beans>